/* .reservation-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    } */

.reservation-cards {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 5px;
}